@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
/* style général */
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}

/* nav */
nav {
    background-color: #1a1a1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav p {
    color: white;
}
.navLogo img {
    padding-left: 20px;
    width: 300px;
}
.navUl img {
    width: 80px;
}
.navUl ul {
    display: flex;
    margin-bottom: 0;
    margin-top: 1em;
}
.navUl ul li {
    width: 120px;
}
.navUl ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main */
/* section 1 */
#section1 {
    padding-block: 50px;
    background-color: #334d5c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#section1 img {
    width: 200px;
    padding-left: 50px;
}
#section1 h1, #section1 p {
    color: white;
    font-weight: 450;
    margin-block: 0;
}
#section1 h1 {
    font-size: 70px;
    margin-bottom: 10px;
}
#section1 p {
    font-size: 40px;
}
/* section 2 3 4 */
.mainUl {
    background-color: #eae3d6;
}
.mainUl img {
    width: 100px;
}
.mainUl ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 150px;
    margin: 0;
    padding-inline: 200px;
    padding-block: 20px;
}
.mainUl ul li {
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */
footer {
    padding-top: 25px;
    background-color: #393a3b;
}
footer p, footer h4 {
    color: white;
}
footer h4 {
    font-size: 20px;
}
footer section:first-of-type {
    display: flex;
    justify-content: space-around;
}
.footerLogo img {
    width: 75px;
}
.footerLogo ul {
    display: flex;
    gap: 30px;
    padding: 0;
    padding-top: 20px;
}
.footerP {
    display: flex;
    justify-content: end;
}
.footerP p {
    margin: 0;
    padding-block: 30px;
    padding-right: 10px;
}